<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The best e-commerce in the human history</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <h1>The best e-commerce in the human history</h1>
    {{{body}}}
</body>

</html>